/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Variables */

:root {
  --start-game: #010E18;
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #1463FF;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
  --phrase-transition: all; 
}

/* main */

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-size: var(--font-size-large);
  /* margin: 0; */
  letter-spacing: 0.5em;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

button:hover {
  background-color: #445069;
  color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

.tries {
  padding: 0 2px; 
}

/* Title */

.header {
  color: var(--color-start);
}

/* Phrase */
#phrase {
  padding: 10px 50px;
  margin: 0 auto;
}

.letter {
  font-size: var(--font-size-medium);
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
  -webkit-transition: var(--phrase-transition);
  -o-transition: var(--phrase-transition);
  transition: var(--phrase-transition);
}

.space {
  width: 20px;
}

.show {
  color: #000;
  background-color: #1463FF;
  text-transform: uppercase;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.choice {
  background: var(--color-neutral);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.btn-reset {
  padding: 15px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  text-transform: uppercase;
}

.btn-reset:hover {
  cursor: pointer;
  background-color: #010E18;
  color: #fff;
}

.btn-reset:active {
  background:#6A7987;
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  color: #FFF;
}

.title:hover {
  color: #010E18;
}

.start {
  background-color: var(--color-start);
}

.start a {
  color: var(--start-game);
}

.win {
  background-color: var(--color-win);
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: var(--color-lose);
}

.lose a {
  color: var(--color-lose);
  background: #ffdc26;
}

.win h2:hover,
.lose h2:hover {
 color: #e3a300;
}

.win a.btn-reset:hover {
  background: #007ecf;
  color: #fff;
}

.lose a.btn-reset:hover {
  color: var(--color-lose);
  background: #ffbc26;
}